.attribution {
  font-size: 0.7vw;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  font-family: Poppins;
  color: #a3a5ae;
  background-color: #fafafa;
}

h1, h2, h3 {
  color: #4c4e61;
}

h1 {
  font-size: 1.9vw;
  margin-top: -1.4vw;
}

h2 {
  font-weight: 200;
  font-size: 1.9vw;
  margin-bottom: 1vw;
}

h3 {
  font-size: 1vw;
  margin-top: -0.5vw;
  margin-left: -0.3vw;
}

#head {
  text-align: center;
  width: 28vw;
  position: absolute;
  margin-left: 14.8vw;
  margin-top: -13.5vw;
}

#tagline {
  font-weight: 400;
  font-size: 0.8vw;
  margin-top: -0.3vw;
}

#site {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#services {
  display: grid;
  grid-template: 'one two four' 'one three four';
  grid-gap: 1.5vw;
}

#services p {
  font-size: 0.7vw;
}

#serv1, #serv2, #serv3, #serv4 {
  width: 14vw;
  height: 8.8vw;
  background-color: white;
  box-shadow: 0vw 0.3vw 0.9vw #d7e5f4;
  border-radius: 0.3vw;
  padding: 2vw;
}

#serv1 p, #serv2 p, #serv3 p, #serv4 p {
  margin-top: -0.6vw;
  margin-left: -0.3vw;
  font-weight: 400;
}

img {
  position: absolute;
  width: 3.4vw;
  margin-left: 11vw;
  margin-top: 1.5vw;
}

#serv1 {
  grid-area: one;
  margin-top: 7vw;
  border-top: 0.25vw solid #45d3d3;
}

#serv2 {
  grid-area: two;
  border-top: 0.25vw solid #ea5353;
}

#serv3 {
  grid-area: three;
  border-top: 0.25vw solid #fcaf4a;
}

#serv4 {
  grid-area: four;
  margin-top: 7vw;
  border-top: 0.25vw solid #549ef2;
}

@media only screen and (max-width: 375px) {
  .attribution {
    font-size: 3vw;
  }
  #site {
    width: 90vw;
    top: initial;
    left: 9vw;
    transform: initial;
  }
  #services {
    position: absolute;
    display: inline-block;
    margin-top: 65vw;
  }
  #head {
    width: 85vw;
    margin-top: 0vw;
    margin-left: -2vw;
  }
  #head p {
    font-size: 4vw;
  }
  h2 {
    font-size: 6.5vw;
  }
  h1 {
    font-size: 6.5vw;
  }
  #serv1, #serv2, #serv3, #serv4 {
    width: 65vw;
    height: 40vw;
    border-radius: 2vw;
    box-shadow: 0vw 1.3vw 1.9vw #d7e5f4;
    margin-top: 0vw;
    margin-bottom: 7vw;
    padding: 8vw;
  }
  #serv1 p, #serv2 p, #serv3 p, #serv4 p {
    font-size: 4vw;
  }
  img {
    width: 15vw;
    margin-left: 52vw;
    margin-top: 2vw;
  }
  h3 {
    font-size: 4vw;
  }
  #serv1 {
    border-top: 1.2vw solid #45d3d3;
  }
  #serv2 {
    border-top: 1.2vw solid #ea5353;
  }
  #serv2 img {
    margin-top: -4vw;
  }
  #serv3 {
    border-top: 1.2vw solid #fcaf4a;
  }
  #serv4 {
    border-top: 1.2vw solid #549ef2;
  }
  #serv4 img {
    margin-top: -4vw;
  }
}
